@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;1,400&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-align: center;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #EAEBE7;

  #blue {
    color: #2F80ED;
  }

  .container {
    width: 90%;
    margin: 0 auto;

    header {
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10vh;

        #logo {
          // font-size: 3.1rem;
          text-decoration: none;
          color: #2F80ED;
        }

        ul {
          display: flex;
          flex-direction: row;

          li {
            list-style: none;
            margin-left: 1.6rem;

            a {
              text-decoration: none;
              // font-size: 1.9rem;
              color: #000;
              cursor: pointer;

            }
          }

          #resume {
            text-decoration: none;
            // font-size: 2rem;
            border: 1.5px solid #2F80ED;
            padding: .4rem 1rem;
            border-radius: 5px;
            // color: #393737;

          }
        }
      }

      .hero {
        .hero-content {
          height: 35vh;
          width: 100%;
          padding-top: 2rem;


          h1 {
            font-weight: 600;
            font-size: 3rem;
          }

          h3 {
            font-weight: 400;
            color: #393737;
            font-size: 1.7rem;
          }
        }

        .hero-icons {
          a {
            img {
              height: 3rem;
              width: 3rem;
            }
          }
        }
      }
    }
  }
}